Flask==3.0.0
Flask-SocketIO==5.3.6
Flask-SeaSurf==1.1.1
Flask-Talisman==1.1.0
Flask-Limiter==3.5.0
argon2-cffi==23.1.0
fpdf2==2.7.8
Pillow==10.1.0
python-magic==0.4.27
eventlet==0.33.3
gunicorn==21.2.0
werkzeug==3.0.1
requests==2.31.0
